@use 'sass:math';

.landing {
  // scroll-snap-type: y proximity;
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100vh;
  scroll-behavior: smooth;
  background-color: #181724;
  position: relative;
  section {
    position: relative;
    z-index: 2;
  }
}
body {
  overflow: hidden;
}
@mixin textBg($gradient) {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.polygon {
  z-index: 1;
  position: absolute;
  height: 80vh;
  &:nth-child(1) {
    top: 60vh;
  }
  &:nth-child(2) {
    top: 550vh;
    right: 0;
  }
  &:nth-child(3) {
    top: 670vh;
  }
}
.promo {
  width: 100%;
  min-height: 100vh;
  // background-color: #2d3442;
  overflow: hidden;
  position: relative;
  z-index: 0;
  scroll-snap-align: start;
  .trdemo {
    .trimg,
    .shadow {
      z-index: -1;
      position: absolute;
      width: 1280px;
      top: -360px;
      right: -600px;
    }
    .trimg {
      width: 1280px;
    }
    .shadow {
      will-change: clip-path;
      transition: clip-path 1s;
      clip-path: polygon(55.78% 25.28%, 79.84% 43.39%, 18.2% 92.36%, -5.15% 72.88%);
      &.filled {
        clip-path: polygon(55.78% 25.28%, 79.84% 43.39%, 50.62% 67.71%, 29.46% 49.47%);
      }
      path {
        fill: #2a313e !important;
        stroke: #2a313e !important;
        stroke-width: 2px;
      }
    }
  }
  .header {
    max-width: 1440px;
    z-index: 1;
    display: flex;
    max-width: 1440px;
    height: 111px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    .logo {
      height: 68px;
      margin: 50px 0;
      cursor: pointer;
    }
    > .nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 49px;
      font-size: 18px;
      > a {
        text-decoration: none;
        white-space: nowrap;
        font-family: 'Averta CY';
        color: white;
        cursor: pointer;
        &.contact {
          border-radius: 20px;
          background: #ff5f39;
          background-origin: border-box;
          background-position: center;
          box-shadow: 0px 4px 12px rgba(255, 95, 57, 0.3);
          height: 40px;
          width: 170px;
          min-width: 140px;
          > div {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .first {
    max-width: 1440px;
    width: 75%;
    // height: calc(100% - 132px);
    margin: 0 auto;
    padding: 200px 0;
    > .border {
      font-family: Averta CY;
      font-style: normal;
      font-weight: 600;
      font-size: max(32px, min(4vw, 62px));
      @include textBg(linear-gradient(89.98deg, #0057ff 2%, #2400ff 96.57%));
    }
    .description {
      margin-top: 36px;
      font-family: Averta CY;
      font-style: normal;
      font-weight: normal;
      font-size: max(16px, min(2vw, 24px));
      color: #f8f8f9;
      max-width: 630px;
    }
  }
  .chipsBlock {
    color: #2a313e;
    margin-top: 137px;
    > span {
      font-family: Averta CY;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
    }
    .chips {
      display: flex;
      max-width: 590px;
      flex-wrap: wrap;
      gap: 9px;
      margin-top: 10px;
      align-content: center;
      .chip {
        border: 2px solid #2a313e;
        box-sizing: border-box;
        border-radius: 26px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Averta CY;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        padding: 0 25px;
        white-space: nowrap;
        transition: all 250ms ease;
        will-change: color, border-color, background-color;
        cursor: pointer;
        &:hover {
          color: white;
          border-color: transparent;
        }
        &.pupil:hover {
          background-color: #0057ff;
        }
        &.parent:hover {
          background-color: #ff9c38;
        }
        &.student:hover {
          background-color: #1334a3;
        }
        &.spTeacher:hover {
          background-color: #fbd14b;
        }
        &.contentMaker:hover {
          background-color: #46c597;
        }
        &.teacher:hover {
          background-color: #ed6b6b;
        }
      }
    }
  }
}
.title {
  font-family: Averta CY;
  font-style: normal;
  font-weight: 600;
  font-size: 4vmin;
  // line-height: 54px;
  text-align: center;
  color: #2d3442;
}

.paralax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  // overflow-y: auto;
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // height: 200vh;
  }
  .back {
    transform: translateZ(-1px);
    height: 200vh;
    background-color: #666666;
  }
  .base {
    transform: translateZ(0);
  }
  .back > div,
  .base > div {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.featuresSection {
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  .paralaxBack {
    z-index: 3;
    background-size: contain;
    background: url(./assets/Computer1.png) 400px 895px, url(./assets/Hands1.png) 400px #{895 * 2}px,
      url(./assets/Universitet1.png) 400px #{895 * 3}px, url(./assets/Graph1.png), url(./assets/Bell1.png);
    background-repeat: no-repeat;
    transform: translateZ(-5px) scale(5);
  }
  .features {
    width: 85%;
    max-width: 1440px;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
    gap: 1vw;
    .title {
      margin-top: 10vmin;
      max-width: 634px;
      @include textBg(linear-gradient(89.99deg, #ffb868 15.76%, #ff7139 85.43%));
    }
    .feature {
      scroll-snap-align: center;
      flex: 1;
      width: 100%;
      padding-top: 112px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;

      &:nth-child(2n-1) {
        flex-direction: row-reverse;
      }
      .picture {
        $size: 680px;
        // width: $size;
        // height: $size;
        width: 50%;
        flex: 1;
        aspect-ratio: 1;
        min-width: 310px;
        max-width: 680px;
        background-color: #121e2f;
        border-radius: 82px;
        border-width: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        > img {
          border-radius: 82px;
          width: 90%;
          height: 90%;
        }
      }
      .textBlock {
        width: 50%;
        min-width: 320px;
      }
      .text {
        font-family: Averta CY;
        font-style: normal;
        font-weight: 600;
        font-size: 3.8vmin;
        color: #ffffff;
      }
      .description {
        padding-top: 10px;
        color: #7f848c;
        font-family: Averta CY;
        font-style: normal;
        font-weight: normal;
        font-size: 2.3vmin;
      }
      .text,
      .description {
        margin: 0 auto;
        max-width: 380px;
      }
    }
  }
}
.ball {
  $size: 32vmin;
  width: $size;
  height: $size;
  background-repeat: no-repeat;
  background-position: center;
  transform-origin: 50% 50%;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Averta CY;
  font-weight: 600;
  font-size: calc($size / 9);
  color: #f5f5f5;
  text-align: center;
}
.balls {
  scroll-snap-align: start;
  position: relative;
  z-index: 1;
  width: 100%;
  margin: 300px auto;
  > .stickyContainer {
    height: 350vh;
    // box-shadow: -1px -1px 25px 4px rgba(255, 255, 255, 0.2) inset;
    > .stickyContent {
      width: 100vmin;
      height: 100vmin;
      margin: 0 auto;
      overflow: visible;

      > .title {
        padding-top: 3%;
        @include textBg(linear-gradient(90deg, #ff15ff 4.04%, #0057ff 107.4%));
      }
    }
  }
  .ball {
    position: absolute;
    margin: 0 auto;
  }
  .orange {
    top: 20%;
    left: 0;
    right: 0;
    background-image: url(./assets/orange.png);
  }
  .blue {
    top: 70%;
    right: -30%;
    background-image: url(./assets/blue.png);
  }
  .pink {
    top: 70%;
    left: -30%;
    background-image: url(./assets/pink.png);
  }
}

$plusPadding: -100px;
.symbol {
  text-align: center;
  font-size: 25vmin;
  color: #2d3442;
  font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
  &.plus {
    // margin-top: $plusPadding;
  }
  &.equals {
    // line-height: 150px;
  }
}

.white {
  scroll-snap-align: start;
  $size: 44vmin;
  background-image: url(./assets/white.png);
  color: #2f8bff;
  margin: 0 auto;
  margin-top: -$plusPadding;
  width: $size;
  height: $size;
  transition-property: transform, opacity;
  transition: all 200ms ease;
  &.hidden {
    opacity: 0.2;
    transform: scale(0.7);
  }
  &.shown {
    opacity: 1;
    transform: scale(1);
  }
}
@function sceneGb($url, $type) {
  @return url(#{$url}) no-repeat center / $type;
}
@function all-but-nth($list) {
  $sel: '';
  @each $nth in $list {
    $sel: $sel + ':not(:nth-child(#{$nth}))';
  }
  @return $sel;
}
.reel {
  $a: 1257;
  $b: 827;
  $r1: math.div($a, $b);

  $c: 1550;
  $d: 322;
  $r2: math.div($c, $d);

  $f1: math.div($a, $c);
  $f2: math.div($b, $d);

  position: relative;
  scroll-snap-align: start;
  > .stickyContainer {
    height: 3000vh;
  }
  $prefHeightVh: 95vh;
  $prefMobileHeightVh: 85vh;
  $prefWidthVw: 98vw;
  .scene {
    height: 100%;
    will-change: transform;
    position: relative;
    &:not(.mobile) {
      margin: 0 auto;
    }
    .invisible {
      opacity: 0;
    }
    .visible {
      opacity: 1;
    }
    > .hint {
      font-size: 2vmin;
      text-align: center;
      color: #666666;
      font-family: 'Averta CY';
      transition: opacity 100ms ease;
    }

    .box {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 11vmin;
      display: flex;
      align-items: center;
    }
    .calendar,
    .track {
      // transition: opacity 100ms ease;
      will-change: opacity;
      width: 100%;
      height: 100%;
    }
    $w: calc(#{$prefHeightVh} * #{$r1} / #{$f1});
    $w_mobile: calc(#{$prefMobileHeightVh} * #{$r1} / #{$f1});
    width: min(#{$prefWidthVw}, #{$w});
    transition: width 100ms ease;
    .box,
    .calendar,
    .track {
      width: min(#{$prefWidthVw}, #{$w});
      height: min(#{$prefHeightVh}, calc(#{$prefWidthVw} * #{$f2} / #{$r2}));
    }
    &.mobile {
      width: 100%;
      .box,
      .calendar,
      .track {
        width: 100%;
      }
      .box {
        top: 50%;
        transform: translateY(-50%);
      }
      &.zoomed {
        width: #{$w_mobile};
        .box,
        .calendar,
        .track {
          height: $prefMobileHeightVh;
          width: #{$w_mobile};
        }
        .line {
          width: calc(#{$prefMobileHeightVh} * #{$r1} / #{$f1} / 100);
          height: calc(#{$prefMobileHeightVh} * 0.75);
        }
      }
    }
    .calendar {
      position: absolute;
      margin: 0 auto;
      background: sceneGb('./assets/Timeline_Black.svg', contain);
    }
    .track {
      position: absolute;
    }
    .line {
      position: absolute;
      width: calc(#{$prefHeightVh} * #{$r1} / #{$f1} / 100);
      height: calc(min(#{$prefHeightVh}, #{$prefWidthVw} * #{$f2} / #{$r2}) * 0.75);
      background-image: url(./assets/Line_black.svg);
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat;
      transition: opacity 500ms ease;
      z-index: 6;
      &.invisible {
        opacity: 0;
      }
      &.visible {
        opacity: 1;
      }
      transform: translateX(-5px);
    }
    .modal {
      overflow: hidden;
      @keyframes showText {
        0% {
          transform: translateY(100%);
          opacity: 0;
        }
        100% {
          transform: translateY(0);
          opacity: 1;
        }
      }
      @keyframes hideText {
        0% {
          transform: translateY(0%);
          opacity: 1;
        }
        100% {
          transform: translateY(100%);
          opacity: 0;
        }
      }
      > .modalInner {
        animation-fill-mode: forwards;
        display: flex;
        flex-direction: column;
      }
      position: absolute;
      z-index: 4;
      font-family: 'Averta CY';
      .modalTitle {
        font-size: 2.5vmin;
        flex: 1;
        font-weight: bold;
        white-space: nowrap;
        color: #ffffff;
      }
      .description {
        font-size: 1.2vmin;
        text-align: initial;
        color: #c1cad9;
        max-width: 20vmin;
      }
      &.hideModal {
        > .modalInner {
          transform: translateY(100%);
          animation: hideText 380ms;
        }
      }
      &.showModal {
        > .modalInner {
          animation: showText 380ms;
        }
      }
      &.course {
        top: 20%;
        left: 20%;
      }
      &.chapter {
        top: 70%;
        left: 23%;
        .description {
          margin-left: 0.2vmin;
        }
      }
      &.arrowDep {
        top: 33%;
        left: 38%;
      }
      &.dep {
        top: 44%;
        left: 58%;
      }
      &.main {
        top: 58%;
        left: 90%;
      }
    }
    &.mobile .modal {
      .modalTitle {
        font-size: 36px;
      }
      .description {
        font-size: 9px;
        max-width: 140px;
      }
      &.course {
        top: 13%;
        left: 20%;
      }
      &.chapter {
        top: 70%;
        left: 23%;
        .description {
          margin-left: 0.2vmin;
        }
      }
      &.arrowDep {
        top: 26%;
        left: 38%;
      }
      &.dep {
        top: 44%;
        left: 58%;
      }
      &.main {
        top: 58%;
        left: 90%;
      }
    }
  }
  .scene {
    > .title {
      transition: opacity 150ms ease;
      color: white;
    }
    > .box > track.outlined {
      // transition: opacity 150ms ease;
    }
    & > .box > svg.track > * {
      // transition: opacity 150ms ease;
    }
    &.focusCourse > .box {
      > .track.outlined {
        opacity: 0 !important;
        transition: opacity 150ms ease;
      }
      > svg.track.colored > *#{all-but-nth(1 5 9 11 17 18 19 20)} {
        opacity: 0 !important;
      }
    }
    &.focusChapter > .box {
      > svg.track.colored > *#{all-but-nth(12)} {
        opacity: 0 !important;
      }
      > .track.outlined {
        opacity: 0 !important;
        transition: opacity 150ms ease;
      }
    }
    &.focusArrowDep > .box {
      > svg.track.colored > *#{all-but-nth(8)} {
        opacity: 0 !important;
      }
      > .track.outlined {
        opacity: 0 !important;
        transition: opacity 150ms ease;
      }
    }
    &.focusDep > .box {
      > svg.track.colored > *#{all-but-nth(1 4 15 20 33)} {
        opacity: 0 !important;
      }
      > .track.outlined {
        opacity: 0 !important;
        transition: opacity 150ms ease;
      }
    }
    &.focusMain > .box {
      > svg.track.colored > *#{all-but-nth(29)} {
        opacity: 0 !important;
      }
      > .track.outlined {
        opacity: 0 !important;
        transition: opacity 150ms ease;
      }
    }
    &.focusCourse,
    &.focusChapter {
      .calendar,
      .timeline,
      .line,
      .calendar {
        opacity: 0 !important;
      }
    }
  }
}
.stickyContainer {
  min-height: 200vh;
  box-sizing: border-box;
}
.stickyContent {
  height: 100vh;
  top: 0;
  position: sticky;
  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .header {
    flex-direction: column;
  }
  .logo {
    background-position: initial;
  }
}
@media screen and (max-width: #{(680 + 680) * 0.85}px) {
  .featuresSection > .features > .feature {
    .picture {
      margin: 0 auto;
      // min-width: 150px;
    }
    .textBlock {
      flex: 1;
      margin-top: 10px;
      width: 50%;
      .text {
        font-size: 20px;
      }
      .description {
        font-size: 12px;
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .polygon {
    display: none;
  }

  .title {
    font-size: 36px;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;
  }
  .promo {
    .header {
      > .logo {
        margin: 30px 0;
      }
      > .nav {
        gap: 25px;
      }
    }
  }
}
footer {
  height: 100px;
  font-family: Averta CY;
  font-weight: 600;
  font-size: 18px;
  background-color: #0057ff;
  position: relative;
  cursor: pointer;
  &::before {
    position: absolute;
    border-radius: 81px;
    background: #181724;
    width: 100%;
    height: 80px;
    content: '';
    top: -50%;
  }
  > a {
    color: #ffffff;
    position: absolute;
    margin: 0 auto;
    bottom: 25%;
    left: 50%;
    text-decoration: none;
  }
}
@media screen and (max-width: 1260px) {
  .trdemo {
    display: none;
  }
}
