@font-face {
    font-family: 'Consolas';
    src: url(./Consolas.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url(./Consolas-BoldItalic.woff2) format('woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Consolas';
    src: url(./Consolas-Bold.woff2) format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Consolas';
    src: url(./Consolas-Italic.woff2) format('woff2');
    font-weight: normal;
    font-style: italic;
}

