@use "sass:math";
.selector {
  counter-reset: section;
  $size: 60px;
  $input-size: math.div($size, 4);
  $border-width: 2px;
  border-radius: 100%;
  background-color: transparent;
  border: $border-width dashed black;
  width: $size;
  height: $size;
  position: relative;
  margin: $input-size * 4 $input-size * 2;
  margin-left: -10px;
  .group {
    position: absolute;
    height: math.div($size, 2) + math.div($input-size, 2);
    transform-origin: bottom;
    left: 50%;
    bottom: 50%;
    > input {
      margin: 0;
      float: right;
      width: $input-size;
      height: $input-size;
      filter: hue-rotate(120deg);
    }
    > label {
      position: absolute;
      white-space: nowrap;
      // max-width: 40px;
      font-family: Consolas;
      font-size: math.div($size, 4);
      text-anchor: middle;
      color: wheat;
      &.active {
        color: red;
      }
      &:hover {
        color: red;
      }
      cursor: pointer;
    }
  }
}
