.ellips {
  $size: 13px;
  $count: 4;
  position: relative;
  padding-bottom: 13px;
  width: 80px;
  div {
    position: absolute;
    width: $size;
    height: $size;
    border-radius: 50%;
    background: #fff;
    will-change: transform;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    &:nth-child(1) {
      left: 8px;
      animation: ellips1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: ellips2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: ellips2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: ellips3 0.6s infinite;
    }
  }

  @keyframes ellips1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes ellips3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes ellips2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }
}
