
// Primary colours
$primary-color: #0057FF;
$primiary2-color: #FF6F4D;

// Darks and brights
$dark-color: #181723;
$white-color: #FFFFFF;

// Greys
$grey1-color: #BABABC;
$grey2-color: #F5F5F5;


// Tracking map colours

