@import './vars.scss';

@mixin font-regular {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}
@mixin text-secondary {
  @include font-regular;
  color: #515357;
}
