.container {
  width: 210px;
  height: 306px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.photo {
  width: 100%;
  height: 210px;
}
.name {
  font-family: Segoe UI;
  font-size: 18px;
  text-align: center;
  color: #515357;
}
.email {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 350;
  font-size: 18px;
  line-height: 24px;

  color: #c4c7ce;
}
