.card {
  background: #f2f3f5;
  box-shadow: -4px 4px 8px rgba(232, 233, 235, 0.2), 4px -4px 8px rgba(232, 233, 235, 0.2),
    -4px -4px 8px rgba(252, 253, 255, 0.9), 4px 4px 10px rgba(232, 233, 235, 0.9);
  border-radius: 20px;
  width: calc(100% - 11px);
  padding: 10px;
  box-sizing: border-box;
}
.about {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 350;
  font-size: 12px;
  line-height: 16px;
  color: #515357;
}
.title {
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  text-shadow: 0px 0px 4px rgba(81, 83, 87, 0.25);

  > strong {
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #e84033;
  }
}
.level {
  display: inline-flex;
  gap: 3px;
  margin-left: 7px;
}
.mark {
  $size: 10px;
  width: $size;
  height: $size;
  border: 1px solid #515357;
  border-radius: 50%;
  box-sizing: border-box;
  &.filled {
    border: none;
    background: #199be2;
  }
}
u {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;

  color: #000000;
}
