@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-MediumItalic.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Thin.woff2) format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-LightItalic.woff2) format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-BoldItalic.woff2) format('woff2');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-UltraLight.woff2) format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Black.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Roman.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-ThinItalic.woff2) format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-HeavyItalic.woff2) format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Heavy.woff2) format('woff2');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-BlackItalic.woff2) format('woff2');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-Italic.woff2) format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: HelveticaNeueCyr;
  src: url(HelveticaNeueCyr-UltraLightItalic.woff2) format('woff2');
  font-weight: 200;
  font-style: italic;
}
