.view {
	// background: #e5e5e5;
	display: flex;
	align-items: stretch;
	height: 100%;
	box-sizing: border-box;
	padding: 15px;
	color: white;
}
.tracking {
	position: relative;
	width: 100%;
}
.panel {
	width: 550px;
	background: url(../landing2/assets/auth_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100%;
	border-radius: 42px;

	padding: 15px;
	box-sizing: border-box;
	font-family: Roboto;
	h3 {
		font-weight: 500;
		font-family: Rubik;
		font-size: 32px;
	}
	.arrows {
		height: 26px;
	}
	.title {
		font-size: 24px;

		display: flex;
		align-items: center;
		margin-top: 9px;
		margin-bottom: 9px;
	}
	.target {
		position: relative;
		height: 350px;
		display: flex;
		flex-direction: column;
		// align-items: center;
		// background: #2B2B2B;
		border: 1px solid #dde4ef;
		border-radius: 20px;
		padding: 10px;
		box-sizing: border-box;
	}
}
.input {
	margin-bottom: 20px;
}
