.table {
  align-self: center;
  margin-top: 67px;
  width: 80%;
  max-width: 800px;
  background-color: #f2f3f7;
  $border: 1px solid
    rgba(
      $color: #c4c7ce,
      $alpha: 0.5,
    );
  box-shadow: -2px -5px 10px #ffffff, 5px 2px 10px #dde4ef;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  .row {
    display: flex;
    justify-content: space-between;
  }
  .time {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    font-family: Segoe UI;
    font-size: 24px;
    color: #c4c7ce;
    text-shadow: 0px 1px 5px #c4c7ce;

    border-bottom: $border;
    border-right: $border;
  }
  .moment {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    .cell {
      height: 41px;
      border-bottom: 1px solid rgba($color: #c4c7ce, $alpha: 0.5);
    }
    .lessonbar {
      position: absolute;
      width: 90%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 90%;
    }
  }
}
