.overflow {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(185, 185, 185, 0.5);
  z-index: 101;
}
.modal {
  position: relative;
  background: rgba(255, 255, 255, 1);
  max-width: 45%;
  width: fit-content;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  position: absolute;
  width: 16px;
  height: 16px;
  right: 15px;
  top: 15px;
}
.content {
  font-family: IBMPlexSans-Light;
  font-size: 18px;
  margin: 10px;
  width: 100%;
}
