footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: transparent;
  &.red {
    background-color: rgb(97, 17, 17);
  }
}
.footerCompanyLogo {
  background-position: center;
  width: 100%;
  height: 100%;
  background: url(../../assets/images/foxproinc2_transparent.svg) 100% 100%
    no-repeat;
  background-size: contain;
  background-position: center;
  cursor: pointer;
}
