$header-height: 45px;
.header {
  height: $header-height;
  display: flex;
  align-items: center;
  font-family: Rubik-Regular;
  padding-left: 18px;
  font-size: 32px;
  cursor: progress;
  color: #f1f1f1;
  // font-style: ;
}
