$control-min-width: 380px;
$task-min-width: 700px;
$schedule-min-width: 240px;
.workspace {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  // делаем мобильный режим со свайпами
  @media screen and (max-width: $task-min-width + $schedule-min-width) {
    .block {
      position: absolute;
      &.control {
        min-width: 100%;
      }
      &.task {
        min-width: 100%;
      }
      &.schedule {
        min-width: 100%;
      }
    }
  }
  // Показываем Задание и Расписание на маленьких экранах и планшетах, левое меню с трекингом скрываем
  @media screen and (min-width: $task-min-width + $schedule-min-width) and (max-width: $schedule-min-width + $control-min-width + $task-min-width) {
    .control {
      position: absolute;
      left: -$control-min-width;
    }
  }
  .block {
    height: 100vh;
  }
  .control {
    display: flex;
    width: $control-min-width;
    background: #f2f3f7;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    z-index: 1;
    h1 {
      box-sizing: border-box;
      padding: 7px 0;
      text-align: center;
      font-family: "Segoe UI";
      font-size: 30px;
      line-height: 40px;
      color: #515357;
      font-style: normal;
      font-weight: normal;
    }
    .menu {
      width: 340px;
      .top {
        width: 100%;
        z-index: -1;
        top: 0;
        position: absolute;
        height: 75px;
        background: linear-gradient(
          94.51deg,
          rgba(221, 242, 253, 0.33) 20.41%,
          #e6e5f2 52.59%,
          #fdddea 76.22%,
          #dee7fe 99.53%
        );
        border-radius: 30px 30px 0px 0px;
      }
      .bottom {
        z-index: -1;
        position: absolute;
        height: 105px;
        top: 75px;
        width: 100%;
        background: linear-gradient(91.84deg, #f2f3f7 0.93%, #f8f8f8 95.62%);
        border-radius: 0px 0px 30px 30px;
      }
      .first {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-left: 10px;
        .info {
          .name {
            font-family: Segoe UI;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: #515357;
          }
          .group {
            font-family: Segoe UI;
            font-style: normal;
            font-weight: normal;
            font-size: 11px;
            line-height: 8px;
            text-align: right;
            width: auto;
            line-height: 17px;
            color: #515357;
            margin-top: 6px;
          }
        }
        .avatar {
          margin-top: 15px;
          position: relative;
          z-index: 2;
          .circle {
            border: 2px solid #ffffff;
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background: #e7e6f2;
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              width: 55px;
            }
          }
        }
      }
      filter: drop-shadow(1px -1px 2px rgba(97, 97, 98, 0.2)) drop-shadow(-1px 1px 2px rgba(97, 97, 98, 0.2))
        drop-shadow(1px 1px 2px rgba(255, 255, 255, 0.9)) drop-shadow(-1px -1px 3px rgba(97, 97, 98, 0.9));
    }
  }
  .task {
    min-width: $task-min-width;
    flex: 5;
    z-index: 2;
    background: linear-gradient(141.67deg, #ffffff 0%, rgba(255, 255, 255, 0) 88.79%);
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    > :nth-child(1) {
      flex: 3;
    }
    > :nth-child(2) {
      flex: 2;
    }
    .tool {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      > div:nth-child(1) {
        height: 100%;
      }
    }
  }
  .schedule {
    min-width: $schedule-min-width;
    flex: 1;
    z-index: 1;
    justify-content: center;
    align-items: center;
    background: #f2f3f7;
    position: relative;
    .month {
      position: absolute;
      font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 32px;
      line-height: 43px;
      color: #515357;
      // text-transform: capitalize;
      left: 45%;
      top: 10px;
      transform: translate(-70%, 0);
    }
    .day {
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      font-family: Segoe UI;
      font-style: normal;
      font-weight: normal;
      font-size: 96px;
      line-height: 128px;
      color: #ed6767;
    }
  }
}
