.page {
  width: 100%;
  height: 100%;
  background: #f2f3f7;
}
.views {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.main {
  max-width: 1200px;
  flex: 4;
  display: flex;
  flex-direction: column;
}
.secondary {
  width: inherit;
}
.title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: calc(3vh + 1vw);

  color: #515357;
  text-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
  padding-top: 27px;
  padding-left: 74px;
}
.pointers {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pointer {
  width: 12px;
  &.down {
    transform: rotateZ(180deg);
  }
}
.months {
  margin-top: 45px;
  overflow: auto;
  display: flex;
  justify-content: space-around;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  gap: 10px;
  overflow-x: hidden;
  min-width: 100%;
  $color: rgba(160, 163, 170, 0.4);
  > .month {
    cursor: pointer;
    user-select: none;
    &.current {
      color: crimson;
      text-shadow: 0px 2px 10px rgba(81, 83, 87, 0.4);
    }
  }
  :nth-child(1) {
    color: $color;
    text-shadow: 0px 2px 10px $color;
  }
  :nth-child(2) {
    color: #a0a3aa;
    text-shadow: 0px 2px 10px $color;
  }

  :nth-last-child(2) {
    color: #a0a3aa;
    text-shadow: 0px 2px 10px $color;
  }
  :nth-last-child(1) {
    color: $color;
    text-shadow: 0px 2px 10px $color;
  }
}

.days {
  // margin-top: 51px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow-x: hidden;
  min-width: 100%;
  .day {
    cursor: pointer;
    min-width: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f2f3f7;
    box-shadow: -2px -5px 10px #ffffff, 5px 2px 10px #dde4ef;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Segoe UI;
    font-size: 30px;
    color: #515357;
    &.current {
      background: #515357;
      box-shadow: -2px -5px 10px #ffffff, 5px 2px 10px #dde4ef;
      color: #f2f3f7;
    }
  }
  :nth-child(1) {
    opacity: 0.3;
  }
  :nth-child(2) {
    opacity: 0.7;
  }
  :nth-last-child(1) {
    opacity: 0.3;
  }
  :nth-last-child(2) {
    opacity: 0.7;
  }
}
