@import '../../assets/styles/mixin.scss';
.lessonbar {
  display: flex;
  min-width: 590px;
  align-items: stretch;
  @for $i from 1 through 3 {
    &.x-#{$i} {
      height: #{(60 * $i)}px;
    }
  }

  min-width: 400px;
  @include text-secondary;
  .marker {
    width: 20px;
    background: #c1f1fd;
    box-shadow: -3px 2px 10px rgba(193, 241, 253, 0.5);
    border-radius: 20px 0px 0px 20px;
    &.marked {
      background: #ED6767;
    }
  }
  .content {
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0px 20px 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #5ad7f5;
    box-shadow: 0px 2px 10px rgba(90, 215, 245, 0.5);
    .main {
      display: flex;
      flex-direction: column;
      max-width: 50%;
    }
    .secondary {
      flex: 2;
      display: flex;
      gap: 14px;
      align-items: center;
      justify-content: flex-end;
      .profile {
        width: 39px;
        height: 39px;
      }
    }
  }
}
