@import '../../../assets/styles/mixin.scss';
.schedule {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .calendar {
    margin-bottom: 18px;
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    @include font-regular;
    .digits {
      color: #ed6767;
      font-size: 16px;
      line-height: 0.85em;
      &.today {
        font-size: 96px;
        line-height: 0.85em;
        margin-right: -30px;
      }
      &.previous {
        margin-right: 17px;
      }
      &.next {
        margin-left: 21px;
      }
    }
    .current {
      display: flex;
      align-items: flex-end;
      .month {
        @include text-secondary;
        font-size: 16px;
        line-height: 1em;
      }
    }
  }
  .subjects {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-bottom: 45px;
    .subject {
      display: flex;
      justify-content: center;
      gap: 10px;
      align-items: center;
      .time {
        @include text-secondary;
      }
      .block {
        width: 141px;
        height: 36px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include text-secondary;
        &.practice {
          background: #5ad7f5;
        }
        &.lection {
          background: #ed6767;
        }
        .type,
        .name {
          margin-left: 6px;
        }
        .type {
          font-size: 8px;
        }
        .name {
          font-size: 16px;
          line-height: 16px;
          white-space: nowrap;
          overflow: hidden;
        }
      }
    }
  }
}
