@font-face {
  font-family: Cormorant Unicase;
  src: url(./CormorantUnicase-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cormorant Unicase;
  src: url(./CormorantUnicase-SemiBold.woff2) format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cormorant Unicase;
  src: url(./CormorantUnicase-Light.woff2) format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cormorant Unicase;
  src: url(./CormorantUnicase-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Cormorant Unicase;
  src: url(./CormorantUnicase-Regular.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
