@import '../../assets/styles/vars.scss';
.page {
  width: 100%;
  height: 100%;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.card {
  width: 300px;
  height: 200px;
  background-color: $color-white-smoke;
}
