.button {
  $gradient: linear-gradient(to right, rgba(0, 0, 255, 0.5), rgba(255, 0, 0, 0.5));
  flex: 1;
  border: solid white;
  height: 50px;
  border-width: 3px;
  border-radius: 10px;
  color: white;

  outline: none;
  cursor: pointer;
  font-family: Rubik-Regular;
  font-size: 24px;
  transition: flex 1s ease;
  background: black;
  &.transparent {
    background: transparent;
  }
  &:active {
    background: $gradient;
  }
  &.reverse {
    background: #ff1c1c;
  }
  &.secondary {
    background: #f4f7f9;
  }
}
