.dev {
    position: fixed;
    right: 32px;
    width: 20%;
    background: rgba(220, 220, 220, 0.5);
    z-index: 15;
    font-size: 10px;
    pointer-events: visible;
    max-height: 99vh;
    overflow-y: auto;
  }